camel-jaxb/src/main/resources/GreetingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="GreetingService" targetNamespace="urn:switchyard-quickstart:camel-jaxb:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:switchyard-quickstart:camel-jaxb:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:switchyard-quickstart:camel-jaxb:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:switchyard-quickstart:camel-jaxb:1.0">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="greeting" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="greetingRequest" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="greetingResponse" nillable="true">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="greeting" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getResponse">
    <wsdl:part name="arg0" element="tns:greetingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getResponseResponse">
    <wsdl:part name="return" element="tns:greetingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GreetingServicePortType">
    <wsdl:operation name="getResponse">
      <wsdl:input name="getResponse" message="tns:getResponse">
    </wsdl:input>
      <wsdl:output name="getResponseResponse" message="tns:getResponseResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GreetingServiceSoapBinding" type="tns:GreetingServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getResponse">
      <soap:operation soapAction="getResponse" style="document"/>
      <wsdl:input name="getResponse">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GreetingService">
    <wsdl:port name="GreetingServicePort" binding="tns:GreetingServiceSoapBinding">
      <soap:address location="http://localhost:8080/camel-jaxb/GreetingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
